- name: Add the OS specific variables
  include_vars: "{{ ansible_facts.os_family }}.yml"

- name: Update homebrew and upgrade all packages
  homebrew:
    update_homebrew: yes
    upgrade_all: yes

- name: homebrew tap
  homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ brew_taps }}"

- name: Install homebrew packages
  homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ brew_packages }}"

- block:
    - name: Install homebrew cask packages
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      loop: "{{ brew_cask_packages }}"

- name: Upgrade all casks with greedy option
  community.general.homebrew_cask:
    upgrade_all: true
    greedy: true

  when: ansible_facts["os_family"] == "Darwin"
